.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.headerDiv {
  display: flex;
  width: calc(100% / 3);
  height: 50px;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 40px;
}

.dark {
  background-color: #1a2222;
  color: #d7cebc;
}

.infoButton {
  background-color: transparent;
  border: none;
}

.infoDiv {
  display: flex;
  flex-direction: column;
}

.infoButton:hover {
  transform: translate(1px);
  text-shadow: 1px 0px 40px black;
}

.infoContainer {
  position: absolute;
  padding: 20px;
  width: 300px;
  justify-self: center;
  border: 1px solid rgba(245, 245, 245, 1);
  border-radius: 12px;
  background-color: whitesmoke;
}

.darkButton {
  color: black;
}

.lightButton {
  color: white;
}
