.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.headerDiv {
  display: flex;
  width: calc(100% / 3);
  height: 50px;
  align-items: center;
  justify-content: center;
  border: 1px solid black; /* FIX LATER */
}

.title {
  font-size: 24px;
}
